<table class="table">
  <thead>
  <tr class="table-info">
    <th *ngFor="let column of columns">{{ column.label }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td *ngFor="let column of columns">
      <ng-container *ngIf="column.type === 'date'">
        {{ item[column.key] | date:'dd-MM-y HH:mm' }}
      </ng-container>

      <ng-container *ngIf="!column.type">
        {{ item[column.key] }}
      </ng-container>

      <ng-container *ngIf="column.type === 'options'">
          <span *ngFor="let option of column.options">
                <i class="fa" [ngClass]="{ 'fa-trash-o': option.action === 'delete', 'fa-pencil': option.action === 'edit' }"  (click)="action(option.type, option.action, item.$key )"></i>
          </span>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
